.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 20rem;
  border: solid;

  padding: 0.3rem;

  background-color: darkcyan;

  gap: 0.2rem;

  box-shadow: 0.5rem 0.6rem 1rem #17352e7c;
}

#screen {
  width: 80%;
  flex: 1 1;
  margin-bottom: 0.4rem;
  background-color: darkolivegreen;
}

.button-ctnr {
  flex: 1 1;
  /* border: solid green; */
  width: 100%;

  display: flex;
  gap: 0.2rem;
}

.button-ctnr button {
  flex: 1 1;
  border: none;
  border-radius: 0.6rem;
  color: cornsilk;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.button-ctnr button:hover {
  cursor: pointer;
  box-shadow: 0 0 0.4rem #54ffda;
}

.button-ctnr button:active {
  transform: scale(0.9);
  box-shadow: none;
}